@font-face {
  font-family: 'Libre Caslon';
  src: url('../../../static/fonts/LibreCaslon.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Libre Caslon';
  src: url('../../../static/fonts/LibreCaslonBold.woff') format('woff');
  font-weight: 700;
}
